/* Search container */

.search{
    margin: 2rem;
}

/* Search form */
.search form{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0;
    gap:0.1rem;
    
}
.search input{
    border-radius: 2rem 0 0 2rem;
    padding: 0.5rem 1rem;
    border: none;
    box-shadow: 0 0 0.5rem black;
    height: 4rem;
    width: 70%;
    opacity: 0.9;

}
.search input:focus{
    outline: none;
}
.search .button{
    border: none;
    border-radius:0  2rem 2rem 0;
    box-shadow: 0 0 0.2rem black;
    display: inline-block;
    height: 4rem;
    width: 3rem;
    background-color: rgba(0, 0, 0, 0.302);
    opacity: 0.7;
    
}

/* Submit button */
.button:hover{
    box-shadow: 0 0 0.2rem black;
}



.button img{
    transform: rotate(90deg) ;
}

.button img:hover{
    transform: rotate(90deg) scale(1.05);
}

